
nav
    margin: 20px
    display: flex
    justify-content: space-between

.selector-container
    padding: 10px
    font-size: 14px
    border-radius: 10px
    background-color: #fff
    border: 2px solid #bababa
    transition: .2s linear

.selector-container:hover
    cursor: pointer
    background-color: #ededed

.form-container
    margin: 20px

.selector-item
    font-family: 'Inter'
    list-style: none
    padding: 10px
    background-color: #fff

.arealabel-container
    display: flex
    width: 100%
    gap: 10px

.options-container
    

.dark
    .selector-container
        background-color: #1d1d1d
        border-color: #3f3f3f

